<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <p>ボタンを押すとWebAPIから従業員一覧を取得し一覧表示させる</p>

    <button type="button" id="button">従業員一覧取得</button>

    <table id="employeeList" border="1">
      <tr>
        <th>ID</th>
        <th>画像</th>
        <th>名前</th>
        <th>入社日</th>
      </tr>
    </table>

    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script th:src="@{/js/show_employeeList.js}"></script>
  </body>
</html>